In [124]:
l = [1,2,3,4,5,"Himu",45.6,True]

In [125]:
l

[1, 2, 3, 4, 5, 'Himu', 45.6, True]

In [126]:
type(l)

list

In [127]:
l[::1]

[1, 2, 3, 4, 5, 'Himu', 45.6, True]

In [128]:
l[:3]

[1, 2, 3]

In [129]:
l[-1]

True

In [130]:
l[::-1]

[True, 45.6, 'Himu', 5, 4, 3, 2, 1]

In [131]:
len(l)

8

In [132]:
l[0:5] # list slicing

[1, 2, 3, 4, 5]

In [133]:
l[0:100:2]

[1, 3, 5, 45.6]

In [134]:
l

[1, 2, 3, 4, 5, 'Himu', 45.6, True]

In [135]:
l[0:8:-1] # because direcation is missmatch(contradecation)

[]

In [136]:
l +["himu"]

[1, 2, 3, 4, 5, 'Himu', 45.6, True, 'himu']

In [137]:
l * 2

[1, 2, 3, 4, 5, 'Himu', 45.6, True, 1, 2, 3, 4, 5, 'Himu', 45.6, True]

In [138]:
l

[1, 2, 3, 4, 5, 'Himu', 45.6, True]

In [139]:
60 in l

False

In [140]:
56 in l

False

In [141]:
l1 = [3,5,6,6,7] # numeric data

In [142]:
max(l1)

7

In [143]:
l

[1, 2, 3, 4, 5, 'Himu', 45.6, True]

In [144]:
l2 =["Himu" , "ineuron" , "Balodi"] #string is follow alphabetical order

In [145]:
max(l2)

'ineuron'

In [146]:
min(l1)

3

In [147]:
l

[1, 2, 3, 4, 5, 'Himu', 45.6, True]

# List function

In [148]:
l.append("Balodi")

In [149]:
l

[1, 2, 3, 4, 5, 'Himu', 45.6, True, 'Balodi']

In [150]:
l.append([1,2,3,4]) # any point of time append is going to append a data set at the very very last index.

In [151]:
l

[1, 2, 3, 4, 5, 'Himu', 45.6, True, 'Balodi', [1, 2, 3, 4]]

In [152]:
l.pop(0) #remove the data

1

In [153]:
l

[2, 3, 4, 5, 'Himu', 45.6, True, 'Balodi', [1, 2, 3, 4]]

In [154]:
l.pop() # by default last index is remove it.

[1, 2, 3, 4]

In [155]:
l

[2, 3, 4, 5, 'Himu', 45.6, True, 'Balodi']

In [156]:
l.reverse()

In [157]:
l

['Balodi', True, 45.6, 'Himu', 5, 4, 3, 2]

In [158]:
l[::-1]

[2, 3, 4, 5, 'Himu', 45.6, True, 'Balodi']

In [159]:
l.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [160]:
l

['Balodi', True, 45.6, 'Himu', 5, 4, 3, 2]

In [161]:
l1

[3, 5, 6, 6, 7]

In [162]:
l1.sort()

In [163]:
l1

[3, 5, 6, 6, 7]

In [164]:
l3 =[3,4,5,5,66,6] # its method asscending order

In [165]:
l3

[3, 4, 5, 5, 66, 6]

In [166]:
l3.sort(reverse=True) # dsscending order

In [167]:
l3

[66, 6, 5, 5, 4, 3]

In [168]:
l1 = [2,3,4]
l2 = [3,5,6]
l3 = [4,5,6]

In [169]:
l4 = [l1,l2,l3]

In [170]:
l4

[[2, 3, 4], [3, 5, 6], [4, 5, 6]]

In [171]:
l4

[[2, 3, 4], [3, 5, 6], [4, 5, 6]]

In [172]:
l4[2][1] #extract 5

5

In [173]:
l

['Balodi', True, 45.6, 'Himu', 5, 4, 3, 2]

In [174]:
l.count(2) # what is the number of 2

1

In [175]:
l5 = [2,4,5,5,6,5,7]

In [176]:
l5.count(5)

3

In [177]:
l

['Balodi', True, 45.6, 'Himu', 5, 4, 3, 2]

In [178]:
l.append("ineuron")

In [179]:
l

['Balodi', True, 45.6, 'Himu', 5, 4, 3, 2, 'ineuron']

In [180]:
l.append([4,56,"Himu"])
l

['Balodi', True, 45.6, 'Himu', 5, 4, 3, 2, 'ineuron', [4, 56, 'Himu']]

In [181]:
l.extend("Himu")

In [182]:
l

['Balodi',
 True,
 45.6,
 'Himu',
 5,
 4,
 3,
 2,
 'ineuron',
 [4, 56, 'Himu'],
 'H',
 'i',
 'm',
 'u']

In [183]:
l6 = [1,2,3]

In [184]:
l6

[1, 2, 3]

In [187]:
l6.append([4,5,6])

In [188]:
l6

[1, 2, 3, [4, 5, 6]]

In [189]:
l6.append("Himu")

In [190]:
l6

[1, 2, 3, [4, 5, 6], 'Himu']

In [69]:
l.extend("Himu")

In [192]:
l6.extend(45)

TypeError: 'int' object is not iterable

In [193]:
l.append(45)

In [194]:
l6

[1, 2, 3, [4, 5, 6], 'Himu', 45]

In [197]:
l6.extend([67,56,78])

In [199]:
l6

[1, 2, 3, [4, 5, 6], 'Himu', 45, 45, 56, 78, 67, 56, 78]

In [200]:
l6.extend("Himu")

In [201]:
l6

[1, 2, 3, [4, 5, 6], 'Himu', 45, 45, 56, 78, 67, 56, 78, 'H', 'i', 'm', 'u']

In [202]:
l6

[1, 2, 3, [4, 5, 6], 'Himu', 45, 45, 56, 78, 67, 56, 78, 'H', 'i', 'm', 'u']

In [203]:
l6.index(1)

0

In [204]:
l7 = [1,2,3,4,5,66,7]

In [205]:
l7.index(5)

4

In [207]:
l = [1,2,3,4,5]

In [208]:
l.append(45)

In [209]:
l

[1, 2, 3, 4, 5, 45]

In [210]:
l.insert(1,(1,2,3,5)) # whenever you want a data so this .....

In [211]:
l # we are able insert a new elments add in index 1

[1, (1, 2, 3, 5), 2, 3, 4, 5, 45]

In [213]:
l.insert(5,"Himu")

In [214]:
l

[1, (1, 2, 3, 5), 2, 3, 4, 'Himu', 5, 45]

In [215]:
l.pop()

45

In [216]:
l.pop(2) #remove index

2

In [217]:
l

[1, (1, 2, 3, 5), 3, 4, 'Himu', 5]

In [218]:
l.pop(2)

3

In [219]:
l

[1, (1, 2, 3, 5), 4, 'Himu', 5]

In [220]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [222]:
l.remove(4) #remove Values

In [223]:
l

[1, (1, 2, 3, 5), 'Himu', 5]

In [226]:
l.remove("Himu")

In [227]:
l

[1, (1, 2, 3, 5), 5]

In [238]:
l = [1,2,3,4] # mutable

In [240]:
l[2] = "himu" # replace the value

In [241]:
l

[1, 2, 'himu', 4]

In [231]:
s  = "ineuron" # string is inmutable so....

In [242]:
s[2] ='z'

TypeError: 'str' object does not support item assignment

# Tuple

In [245]:
t = (4,5,6,7,"Himu",45.7,True)

In [246]:
type(t)

tuple

In [247]:
t[0]

4

In [248]:
t[0:4]

(4, 5, 6, 7)

In [249]:
t[-1]

True

In [250]:
t[0:6:2]

(4, 6, 'Himu')

In [251]:
t[0:4:-1]

()

In [110]:
l = [2,4,5,76,67]

In [111]:
l[2] ="balodi"

In [112]:
l

[2, 4, 'balodi', 76, 67]

In [113]:
t

(4, 5, 6, 7, 'Himu', 45.7, True)

In [115]:
t[2] = "Himu" # tuple is inmutable object

TypeError: 'tuple' object does not support item assignment

In [252]:
t1 =(3,4,5,6,7)

In [253]:
t

(4, 5, 6, 7, 'Himu', 45.7, True)

In [254]:
t +t1

(4, 5, 6, 7, 'Himu', 45.7, True, 3, 4, 5, 6, 7)

In [255]:
t.count(3)

0

In [256]:
t.count(4)

1

In [257]:
t.index(5)

1

In [258]:
t +t1

(4, 5, 6, 7, 'Himu', 45.7, True, 3, 4, 5, 6, 7)

In [125]:
t

(4, 5, 6, 7, 'Himu', 45.7, True)

In [127]:
t = (2,4,5,6,"Himu")

In [128]:
t2 = list(t)

In [130]:
t2

[2, 4, 5, 6, 'Himu']

In [131]:
tuple(t2)

(2, 4, 5, 6, 'Himu')

In [132]:
str(t2)

"[2, 4, 5, 6, 'Himu']"

# Dict

In [46]:
d ={} # how dict store a data set.

In [47]:
type(d)

dict

In [48]:
d1 = {1}

In [49]:
type(d1)

set

In [50]:
d2 ={ 'key1' : "value" , 234 : "xyz" , "name" : "Himu" , "no" :2342432 }

In [51]:
type(d2)

dict

In [52]:
d2['name'] # extract the key value

'Himu'

In [53]:
d2["no"]

2342432

In [54]:
d3 = { "name" : "Himu",'tech' : ["python","ML","DL","NLP","cv","Big data","Data analytics"]}

In [55]:
d3

{'name': 'Himu',
 'tech': ['python', 'ML', 'DL', 'NLP', 'cv', 'Big data', 'Data analytics']}

In [56]:
"python" in d3 ["tech"]

True

In [57]:
d3["name"]

'Himu'

In [58]:
d3["k1"] = "xyz"

In [59]:
d4 = {"name" : "ineurone","contact_info" : 34535454 , "name" : "himu"}

In [60]:
d4 # incase a dict keys are suposse to be numerical

{'name': 'himu', 'contact_info': 34535454}

In [61]:
d4["k1"] = "xyz" #add new keys values

In [62]:
d4

{'name': 'himu', 'contact_info': 34535454, 'k1': 'xyz'}

In [63]:
d4["k2"] = d2

In [64]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'Himu', 'no': 2342432}

In [65]:
d4

{'name': 'himu',
 'contact_info': 34535454,
 'k1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'Himu', 'no': 2342432}}

In [66]:
d4["k2"]["no"] # extract a values

2342432

In [67]:
d4["k1"]

'xyz'

In [68]:
d5 = {_:"sdfsfs"}

In [69]:
d5[_]

'sdfsfs'

In [72]:
d6 = {(3,5,4,5,4) : "fsds"} #tuples as key.

In [74]:
d6[(3,5,4,5,4)] #collection as a key its possible.

'fsds'

In [76]:
d7 = {[2,3,4,5] : "fgdfsd"} # list is not allowed as key.

TypeError: unhashable type: 'list'

In [79]:
d8 = {{3,4,5} : "efefe"} # dict as key not allowed.

TypeError: unhashable type: 'set'

In [80]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'Himu', 'no': 2342432}

In [81]:
d3

{'name': 'Himu',
 'tech': ['python', 'ML', 'DL', 'NLP', 'cv', 'Big data', 'Data analytics'],
 'k1': 'xyz'}

In [82]:
d2+d3 # concatination opretion not allowed.

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [83]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'Himu', 'no': 2342432}

In [86]:
d2.keys() # list of extract all the keys.

dict_keys(['key1', 234, 'name', 'no'])

In [87]:
d2.values() #list of extract all the values.

dict_values(['value', 'xyz', 'Himu', 2342432])

In [89]:
d2.items() # collection of tupels.

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'Himu'), ('no', 2342432)])

# set

In [95]:
s = {3,4,5,6,66,7} # set always return a unic elements.

In [96]:
type(s)

set

In [97]:
s1 = {2,4,5,5,6,6,7,7,8,8}

In [98]:
s1 # it is trying to remove duplicat data set.

{2, 4, 5, 6, 7, 8}

In [99]:
s2 = {23434,546456,7687687,897456}

In [100]:
s2

{23434, 546456, 897456, 7687687}

In [101]:
s3 = {"Himu",324,34,455,12,5,'b','6'}

In [102]:
s3

{12, 324, 34, 455, 5, '6', 'Himu', 'b'}

In [103]:
s3[0]

TypeError: 'set' object is not subscriptable

In [177]:
list(s3) # convert in a list.

[34, 324, 5, 455, '6', 12, 'b', 'Himu']

In [104]:
tuple(s3) #convert in  tuples.

(34, '6', 324, 5, 455, 'Himu', 12, 'b')

In [105]:
l =[1,3,4,5,5,5,5,5,5,5,5,]

In [108]:
l = list(set(l))

In [109]:
l

[1, 3, 4, 5]

In [110]:
s2.add(34)

In [111]:
s2

{34, 23434, 546456, 897456, 7687687}

In [185]:
s = {(3,4,5,5,6),3,4,5,66,}

In [186]:
s

{(3, 4, 5, 5, 6), 3, 4, 5, 66}

In [187]:
s.remove(3)

In [188]:
s

{(3, 4, 5, 5, 6), 4, 5, 66}

In [189]:
s.discard(4)

In [190]:
s

{(3, 4, 5, 5, 6), 5, 66}

In [112]:
type(s)

set

In [117]:
l = list((s))

In [118]:
l

[66, 3, 4, 5, 6, 7]

In [119]:
type(l)

list

In [121]:
set(l)

{3, 4, 5, 6, 7, 66}

In [122]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'Himu', 'no': 2342432}

In [123]:
d2["key4"] = "ssdfd"

In [124]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'Himu', 'no': 2342432, 'key4': 'ssdfd'}

In [129]:
d2["key1"] = "ineuron" #dict reassignments.

In [128]:
d2

{'key1': ['ineuron'],
 234: 'xyz',
 'name': 'Himu',
 'no': 2342432,
 'key4': 'ssdfd'}