# condition

In [1]:
a = 10
if a == 11 : # comparison opretor.
    print("This is my first condition")

In [2]:
a = 5
if a >5 :
    pass # reserved key word.

In [3]:
a = 10
if a <8 :
    print("this condition is true")

In [4]:
a = 10
if a != 11 :
    print("my condition is false")
else :
    print("print this ")

my condition is false

In [5]:
a = 10
if a == 12 :
    print(" here we are trying to compare 10 with 12")
elif a ==11 :
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks  wil fail then do this ")

if all the blocks  wil fail then do this

In [6]:
price = 500
if price > 500 :
    print("may b i wont be able to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")
elif price == 500 :
    print("for sure i will be able to buy")

for sure i will be able to buy

In [7]:
price > 500

False

In [8]:
price < 500

False

In [9]:
price == 500

True

In [10]:
l = [1,2,3,4,5]
2 in l

True

In [11]:
if 60 in l :
    print("try to perform a task")
else :
    print("do not perform this task")

do not perform this task

In [12]:
60 in l

False

In [13]:
l

[1, 2, 3, 4, 5]

In [14]:
if 10 in l:
    print("try to do addition") 
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")
if 4 in l:
    print("this is new statement")

try to do sub
this is new statement

In [15]:
# try to take a user input.

In [16]:
a = 400

In [17]:
b = input() # input is invalid function. by default input always convert data set is a string format.

56576

In [18]:
b

'56576'

In [19]:
type(b)

str

In [20]:
c = int(input()) #typecasting

56456575

In [21]:
c

56456575

In [22]:
type(c)

int

In [23]:
price = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to a jacket")
    elif price < 300 :
        print("i wiil be able to a shirt")
        if price <100 :
            print("i will be able to Torch")
    else :
        print("i wont  be able to  anything")
else :
    print("i wont be able to buy anything with this price tag")
    if price >500:
        print("lets try something else")

600
i wont be able to buy anything with this price tag
lets try something else

In [24]:
marks = int(input())
if marks < 600 :
    print = ("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400 :
            print("Try something else")
    else :
        print("you GOT TOFEL")
else:
     print("you got GRE")

700
you got GRE

In [27]:
val =  float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        
        print("enterted value is zero")
        
    else :
            print("enter value is a possitive number ")
else :
    print("enterted number is a negative number")

enter a floating point number767.7
enter value is a possitive number

In [28]:
a = 10
if a <10  or a == 10 :
    print("try to do something")

try to do something

In [29]:
a = 20
if a <20 and a == 20 :
    print("try something")

In [30]:
a = "himu"
if a == "himu" or a == "himu":
    print("this is himu ")

this is himu

In [31]:
# multiple condition of varable.

In [36]:
a = 34
b = 56
c = 67
d = 78
if a == 24 or b == 56 and c == 67 and d == 78 :
    print("try to do something ")

try to do something

In [2]:

d= { 'key1' :"value" , "key2" : "himu" , "key3" : "ineuron"}

In [3]:
if d['key1'] == "value" and d['key2'] == "Himu" and d['key3'] == "ineuron":
    print("all the value are varified")
    print(d.values())
else :
    print("all the values are not verified")

all the values are not verified

In [5]:
d["key1"]

'value'

In [6]:
l  = [1,2,3,4,5,"himu",45.6]

In [7]:
l

[1, 2, 3, 4, 5, 'himu', 45.6]

In [8]:
l[0]

1

In [9]:
l[2:5]

[3, 4, 5]

In [10]:
l

[1, 2, 3, 4, 5, 'himu', 45.6]

In [11]:
for i in l:
    print(i)

1
2
3
4
5
himu
45.6

In [12]:
l

[1, 2, 3, 4, 5, 'himu', 45.6]

In [13]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [15]:
# how avoid this kind of situations. ^

In [19]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(i + str(1))

2
3
4
5
6
himu1
46.6

In [25]:
l

[1, 2, 3, 4, 5, 'himu', 45.6]

In [28]:
# only int values extract.
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [29]:
l1

[1, 2, 3, 4, 5]