# For loop

In [10]:
l = [1,2,3,4,"himu","Balodi",45.6]

In [11]:
# extract all the list one by one.
for i in l:
    print(i)

1
2
3
4
himu
Balodi
45.6

In [3]:
for i in l:
    pass

In [12]:
s = "himu"
# extract all the string.
for i in s:
    print(i)

h
i
m
u

In [5]:
for i in l:
    print(i)
else:
    print("if for loop is going to compelete itself it is exucute else")

1
2
3
4
himu
Balodi
45.6
if for loop is going to compelete itself it is exucute else

In [6]:
l

[1, 2, 3, 4, 'himu', 'Balodi', 45.6]

In [7]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("this will exucute only if for is going to complete itself")

1
2
3

In [10]:
s = "himanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else:
    print("print string ",s)

h
i
m
a
n
s
h
u
print string  himanshu

In [2]:
t = (4,5,6,7,8,6,"himu")
#extract tuple one by one.
for i in t:
    print(i)

4
5
6
7
8
6
himu

In [1]:
b = {4,5,6,7,7,7,7,7,7,8,"himu"}# list = is mutable object= where if i able to change something a particular indexs or of a collection .and if i wont to able to do it its called unmutabl
#extract a data set one by one
for i in b:
    print(i)

4
5
6
7
8
himu

In [4]:
type(b)

set

In [5]:
b

{4, 5, 6, 7, 8, 'himu'}

In [6]:
for i in b:
    print(i)

4
5
6
7
8
himu

In [4]:
d = {'key1' :"himu" ,'contact' : 'himanshubalodi@78.ai','position':'xyz'}

In [5]:
# extract all the key of dict..
for i in d :
    print(i)

key1
contact
position

In [6]:
# extract all the values.
for i in d :
    print(d[i])

himu
himanshubalodi@78.ai
xyz

In [14]:
# extract both key and values.
for i in d :
    print(i, ":" , d[i])

key1 : himu
contact : himanshubalodi@78.ai
position : xyz

In [24]:
d['key1']

'himu'

In [25]:
range(9) # range is function it will be genrate a data set.

range(0, 9)

In [26]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
#use for loop extract data one by one.
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [30]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [31]:
list(range(0,9 , -1))

[]

In [32]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
# produce pattern .
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh", end =" ")
    print(" ")

sudh
sudh sudh
sudh sudh sudh
sudh sudh sudh sudh

In [43]:
n = 3
for i  in range(n):
    for j in range(i,n-1):
        print(" ",end =" ")
    for j in range(i+1):
        print("sudh ",end ="")
    print("\n")

    sudh

  sudh sudh

sudh sudh sudh

In [44]:
t = (3,23,45,67,2,4,5,6)

In [45]:
# print index wise tuple.
t = (3,23,45,67,2,4,5,6)
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [46]:
s = "ineuron"
# index wise to print string one by one.
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [52]:
s = "ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [53]:
s

'ineuron'

In [57]:
# reverse order index wise string element.
for i in (range(len(s)-1,-1,-1)):
        print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [58]:
d

{'key1': 'himu', 'contact': 'himanshubalodi@62.ai', 'position': 'xyz'}

In [62]:
for i in d.items():
    print(i,type(i),type(i[1])) # trying to data type of entire object.

('key1', 'himu') <class 'tuple'> <class 'str'>
('contact', 'himanshubalodi@62.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [87]:
l = ["himu","balodi",3434535,"himansu@.ineuron",345,566465]
# extract only number in this list.
l1 =[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [88]:
l1 # find out integer .

[3434535, 345, 566465]

In [15]:
d = {1:5345353,"name":"sudh","email.id":"himanshubalodi6@.ai",5454:"fdfgdg","446":"dfgdfg",5454:"34564"}

In [16]:
# extract all the key value pair and key will be numeric one.
for i in d:
    if type(i) == int:
        print(i,":",d[i])

1 : 5345353
5454 : 34564

In [17]:
s = "aaaabbccdd"

In [18]:
# find out unique.
set(s)

{'a', 'b', 'c', 'd'}

In [19]:
# occurences of each an every string .
for i in set(s):
    print(i,":",s.count(i))

d : 2
b : 2
a : 4
c : 2

In [20]:
s.count('a')

4

In [99]:
i = 345345345454
# extract integer one by one.
for j in str(i):
    print(int(j ),type(int(j))) # type o j.

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>

In [96]:
str(i)

'345345345454'

In [108]:
t = ("himu","balodi",[1,2,3,4,5],(3,4,5,6,6),{3:3,"key2":"balodi"})

In [111]:
# extract 3 in entire tuple.

for i in t:
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [2]:
d = {4:5,'key1' : 'himu' , 'key2' : 'balodi'}

In [3]:
# extract all the key pair.
for i,j in d.items():
    print(i)

4
key1
key2

In [24]:
d.items()

dict_items([(4, 5), ('key', 'himu'), ('key2', 'balodi')])

In [112]:
a = 10 
b =30
c = 40

In [113]:
a,b,c=10,30,40

In [114]:
a,b,c = (10,30,40)

In [ ]:
# above all the data variable is same.

In [6]:
n = 5
for i in range(5):
    for j in range(0,i+1):
        print("ineuron",end =" ")
    print(" ")

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron