# Anwer 1

*

In [4]:
* (expression)

'Hello'

In [5]:
s = ('Hello') # hello is a string (value)

In [6]:
s

'Hello'

-87.8

In [8]:
a = -87.8 (value)

In [9]:
a

-87.8

In [10]:
type(a) # -87.8 is a float variable

float

-subtraction

In [ ]:
 - ( expression)

/ Division

In [ ]:
/  (expression)

+ Addition

In [ ]:
+ (expression)

6

In [20]:
6 (value)

6

In [21]:
type(6)

int

# Anwer 2

# string and variable

In [27]:
String = string is  data type in Python. string is a sequence of characters enclosed in quotes.
            we can write a string in these three ways_
    a = 'Himanshu'
    b = "Himanshu"
    c = """Himanshu"""
    
    
    

    
Variable = A variable is the name given to a memory location in a program.
Eg.
   a = 10 (a is variable)
   b = "Himu"
   c = 454.7
variable = container to store a value.

# Answer 3


# Data type

In [ ]:
1.Integer

In [30]:
a = 50

In [33]:
type(a)

int

In [ ]:
2.float

In [34]:
5454.7

5454.7

In [35]:
type(5454.7)

float

In [ ]:
3.Booleans

In [39]:
a = 5
b = 8

In [40]:
a>8

False

In [41]:
type(a>8)

bool

# Answer 4

In [ ]:
Expression =  An Expression is a combination of operators and operands that is interpreted to produce some other value.
         
            # there are many expression for eg.......................

In [42]:
# 1.Constant Expression
a = 15 + 2.5
a

17.5

In [54]:
# 2.Arithmetic Expressions
a = 40
b =12

add = a + b
sub = a - b
pro = a * b
div = a / b
   
    
print (add)
print (sub)
print (pro)
print (div)

52
28
480
3.3333333333333335

# Answer 5

In [ ]:
Expression  is made up of value , Containers, and mathematical operators  and the statement is just like a command that a ,pyhon 
interpreter executes like print.

# Answer 6

In [7]:
bacon = 22

In [8]:
bacon + 1

23

# Answer 7

In [9]:
Hello = 22

In [10]:
Hello + 1

23

In [11]:
"spam" + "spamspam"

'spamspamspam'

In [13]:
"spam"  * 3

'spamspamspam'

In [ ]:
# so both are same.

# Answer 8

In [15]:
Variable names cannot begin with a number

# Answer 9

In [ ]:
The int(),float(),and str() functions will evaluate to the integer, floating-point number, and string  versions of the value passed to them

# Answer 10

In [ ]:
The Expression causes an error because 99 ia an integer, and only strings can be concatenated to other string with the
+ operator. The fix way is I have eaten '+ 
str(99) +'burritos'.