In [5]:
# define a function.

In [15]:
def test():
    print("this is my first function ")

In [16]:
# call a function.

In [17]:
test()

this is my first function

In [18]:
type(test()) # print alwase return a Nontype.

this is my first function

NoneType

In [19]:
str(test()) + " himu"

this is my first function

'None himu'

In [20]:
def test1():
    return "this is my first function"

In [21]:
test1()

'this is my first function'

In [22]:
#check type of return.

In [24]:
type(test1())

str

In [25]:
# append operation

In [27]:
test1() + " himu"

'this is my first function himu'

In [29]:
def test2():
    pass

In [10]:
def test3():
    return 1,3,5,[3,5,6776,7]

In [11]:
test3()

(1, 3, 5, [3, 5, 6776, 7])

In [12]:
a = test3()

In [13]:
a

(1, 3, 5, [3, 5, 6776, 7])

In [14]:
# multiple thing return.

In [15]:
a = 10
b = 20
c = 30

In [16]:
a,b,c =(34,56,67)

In [17]:
a,b,c,d = test3()

In [18]:
a

1

In [19]:
b

3

In [20]:
c

5

In [21]:
d

[3, 5, 6776, 7]

In [22]:
# multiple and addition method

In [29]:
def test4():
    a = 4*5
    b = 6+4
    return a,b

In [30]:
g = test4()

In [31]:
g

(20, 10)

In [32]:
j,k = test4()

In [33]:
j

20

In [34]:
k

10

In [35]:
# if only 1 output want.

In [37]:
_,m = test4()

In [38]:
m

10

In [39]:
_

20

In [40]:
test3()

(1, 3, 5, [3, 5, 6776, 7])

In [41]:
# extract only list.

In [45]:
_,_,_,g = test3()

In [50]:
g

[3, 5, 6776, 7]

In [51]:
a = 1
b = 10
while a<=10:
    print(a)
    a = a+2
else :
    print("print this else block  ")

1
3
5
7
9
print this else block

In [52]:
# this code write in function.

In [55]:
def test5():
    a = 1
    b = 10
    while a<=10:
        print(a)
        a = a+2
    else :
        print("print this else block  ")

In [56]:
test5()

1
3
5
7
9
print this else block

In [57]:
test5()

1
3
5
7
9
print this else block

In [59]:
def test5(a,b):
    while a <=b:
        print(a)
        a = a + 2
    else :
        print("print this else block ")

In [60]:
test5(1,10)

1
3
5
7
9
print this else block

In [61]:
test5(3,56)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
print this else block

In [62]:
test5(30,5)

print this else block

In [64]:
type(test5(30,2))

print this else block

NoneType

In [66]:
def test5(a,b):
    l = []
    while a <=b:
        l.append(a)
        
        a = a + 2
    else :
        print("print this else block ")
    return l

In [67]:
test5(1,10)

print this else block

[1, 3, 5, 7, 9]

In [68]:
type(test5(1,10))

print this else block

list

In [73]:
l = [2,4,5,6,7,7,8,8,99,9,[4,3,5,5,6,3],"himu"]

In [74]:
# all the integer find out .

In [79]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [80]:
l1

[2, 4, 5, 6, 7, 7, 8, 8, 99, 9]

In [81]:
# convert it function.

In [86]:
def test7():
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [87]:
test7()

[2, 4, 5, 6, 7, 7, 8, 8, 99, 9]

In [88]:
l3 = [3,4,5,6,6,6,44,"himu",(4,6,6,7)]

In [89]:
def test7(l):
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [90]:
test7(l3) #pass a value

[3, 4, 5, 6, 6, 6, 44]

In [4]:
t = (2,3,4,5,5,6,7,8,9,)
a =-1
while a >=-len(t):
    if t[a] == 6 or t[a] == 7 :
        print("index of " , t[a], "is",a)
    a = a - 1

index of  7 is -3
index of  6 is -4

In [5]:
# convert function

In [6]:
def test8(t):
    a =-1
    while a >=-len(t):
         if t[a] == 6 or t[a] == 7 :
            print("index of " , t[a], "is",a)
         a = a - 1

In [7]:
test8(t)

index of  7 is -3
index of  6 is -4

In [8]:
test8((2,3,4,5,5,6,7,8,9))

index of  7 is -3
index of  6 is -4