string variable

In [1]:
s = "ineuron" #string are combination of a character.

In [2]:
type(s)

str

In [3]:
s[0]

'i'

In [4]:
s[5]

'o'

In [5]:
s[-1]

'n'

In [6]:
s[-5]

'e'

In [1]:
s1 = "himu"

In [2]:
s1

'himu'

In [3]:
s1[-1]

'u'

In [4]:
s1[-2]

'm'

In [11]:
s2 = "this is my very first programming class's"

In [12]:
s2

"this is my very first programming class's"

In [13]:
s2[-1]

's'

In [15]:
s2[1:5] #exculding (5) upper bond

'his '

In [16]:
s2[6:30]

's my very first programm'

In [17]:
s2[6:30:2]

'sm eyfrtporm'

In [18]:
s = "himanshu"

In [19]:
s

'himanshu'

In [20]:
s[0:8:1]

'himanshu'

In [21]:
s

'himanshu'

In [23]:
s[0:8:-1] #cotradictioon so blank

''

In [25]:
s[8:0:-1] # no contradiction

'uhsnami'

In [26]:
s[8:0:-2]

'usai'

In [28]:
s[:-3] # if not mantion any jump direction ,by default it will be 1

'himan'

In [29]:
s[-2:]

'hu'

In [30]:
s[::1]

'himanshu'

In [32]:
s[0:50:1]

'himanshu'

In [34]:
s[::-1]  # reversed string

'uhsnamih'

In [35]:
s2

"this is my very first programming class's"

In [36]:
s2[::-1]

"s'ssalc gnimmargorp tsrif yrev ym si siht"

In [39]:
s3 = "ineuron"

In [40]:
s3[::-1]

'norueni'

In [42]:
s3[-2:-7:1] #contradictioon

''

In [43]:
s3[-7:-2:1]

'ineur'

In [44]:
s3[-7:-1:1]

'ineuro'

In [45]:
s3[-7:0:1]

''

In [46]:
s

'himanshu'

In [48]:
s[-1:-1:1]

''

In [49]:
s + 1

TypeError: can only concatenate str (not "int") to str

In [50]:
s + '1' # string concatinatiion

'himanshu1'

In [51]:
s + str('1') #typecasting

'himanshu1'

In [53]:
"himu" +'34534534546456456'

'himu34534534546456456'

In [54]:
s

'himanshu'

In [55]:
len(s)

8

In [56]:
s *4

'himanshuhimanshuhimanshuhimanshu'



string list function

In [58]:
s.count('s')

1

In [59]:
s.count('h')

2

In [60]:
s

'himanshu'

In [63]:
type(s.split('h'))

list

In [65]:
s.split('h') # separate of data

['', 'imans', 'u']

In [69]:
sw = """The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."""

In [67]:
sw ="The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate "

In [68]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 '']

In [70]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [71]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]\n\nSamsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.']

In [72]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [73]:
sw.upper()

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP."

In [74]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [75]:
sw = sw.upper()

In [76]:
sw

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP."

In [81]:
s = "himanshu balodi"

In [82]:
s.title()

'Himanshu Balodi'

In [83]:
s.capitalize()

'Himanshu balodi'

In [84]:
s.swapcase()

'HIMANSHU BALODI'

In [87]:
''.join(reversed(s))

'idolab uhsnamih'

In [88]:
s[::-1]

'idolab uhsnamih'

In [91]:
s = "    hi mu  "

In [92]:
s.strip()

'hi mu'

In [93]:
s

'    hi mu  '

In [94]:
s.lstrip()

'hi mu  '

In [95]:
s.rstrip()

'    hi mu'

In [98]:
"a".join("himanshu")

'haiamaaanasahau'

In [99]:
s

'    hi mu  '

In [100]:
s = "himu"

In [101]:
s

'himu'

In [102]:
s.center(20,'z')

'zzzzzzzzhimuzzzzzzzz'

In [110]:
s = "Himanshu"

In [111]:
s

'Himanshu'

In [112]:
s.isupper()

False

In [113]:
s1 = "HIMU"

In [114]:
s1.isupper()

True

In [115]:
s.islower()

False

In [116]:
s2 = "himu"

In [117]:
s2.islower()

True

In [118]:
s

'Himanshu'

In [119]:
s.isspace()

False

In [120]:
s3 = "  "

In [121]:
s3.isspace()

True

In [122]:
s

'Himanshu'

In [124]:
s.isdigit()

False

In [125]:
s4 = "355453"

In [126]:
s4.isdigit()

True

In [127]:
s5 = "43433ds3434"

In [128]:
s5.isdigit()

False

In [129]:
s

'Himanshu'

In [130]:
s.isalnum()

True

In [132]:
s.isalpha()

True

In [133]:
s6 = "ss34534s"

In [134]:
s6.isalpha()

False

In [135]:
s

'Himanshu'

In [138]:
s.startswith('l')

False

In [141]:
s.startswith('H')

True

In [142]:
s.endswith('m')

False

In [143]:
s.endswith('u')

True

In [144]:
s

'Himanshu'

In [145]:
s.isdigit()

False

In [147]:
s.isnumeric()

False

In [148]:
s.startswith("")

True

In [150]:
s.isascii()

True

In [151]:
s = "Himanshu2312"

s.isalpha()

False

In [161]:
s =' 5 '

s.isspace()

False

In [162]:
s.center(20,'@')

'@@@@@@@@ 5 @@@@@@@@@'

In [155]:
s1 = ("fssdfsdfsfsfs")

In [163]:
s1.isnumeric()

False

In [164]:
s ="34534535"

In [165]:
s.isdigit()

True

In [157]:
s2 = "34234  3453 34534 54"

In [158]:
s2.isnumeric()

False

In [166]:
s.isnumeric()

True

In [167]:
s = "Himu"

In [172]:
reversed(s)

In [173]:
'd'.join("ineuron")

'idndedudrdodn'

In [174]:
"".join(reversed("himu"))

'umih'

In [177]:
s = "3453453.45"

In [178]:
s.isdigit()

False

In [179]:
s.isnumeric()

False

In [180]:
s.isalnum()

False

In [182]:
s.isalpha()

False

In [183]:
s = "Himanshu\tbalodi"

In [185]:
s

'Himanshu\tbalodi'

In [ ]:
s